/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * RolledWest implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * rolledwest.css
 *
 * RolledWest stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (rolledwest_rolledwest.tpl), and to HTML elements you create dynamically
    (in rolledwest.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.board {
    position: relative;
    width: 564px;
    height: 630px;
    background-image: url('img/board.jpg');
    margin: auto;
}

#other_players_board {
    display: flex;
    flex-direction: row;
}

#rolled_dice_row {
    margin: auto;
}

.office {
    width: 55px;
    height: 52px;
    position: absolute;
    z-index: 1;
}

.office_middle_row {
    height: 50px;
}

.office_middle_column {
    width: 50px;
}

.shipment {
    width: 37px;
    height: 55px;
    position: absolute;
}

.shipment_big {
    width: 65px;
}

.contract {
    width: 51px;
    height: 101px;
    position: absolute;
}

.claim {
    width: 50px;
    height: 53px;
    position: absolute;
}

.buyable {
    cursor: pointer;
    outline: dashed rebeccapurple;
}

.settlement {
    position: absolute;
    border: 5px solid black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.bank_icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('img/resource_icons.png');
    margin-top: 4px;
    margin-right: 3px;
}

.bank_icon_copper {
    background-position: 0px 0px;
}

.bank_icon_wood {
    background-position: -15px 0px;
}

.bank_icon_silver {
    background-position: -30px 0px;
}

.bank_icon_gold {
    background-position: -45px 0px;
}

.mark_circle {
    position: absolute;
    border: 3px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.mark_circle_office {
    height: 45px;
    width: 45px;
}

.mark_circle_small_number {
    height: 20px;
    width: 20px;
}

.mark_x {
    position: absolute;
    font-size: 50px;
    line-height: 0%;
}

.mark_x::before {
    content: 'x';
    position: relative;
}

.mark_x_office {
    font-size: 60px;
}

.mark_check {
    position: absolute;
}

.mark_check::before {
    /* code for thick checkmark character */
    content: "\2714";
    position: relative;
    font-size: 150%;
    line-height: 0%;
}